#navbar {
    background-color: rgb(167, 103, 167) !important;
}

#presentacion {
    min-height: 94vh;
}

#icono {
    background-color: rgb(190, 130, 190);
}

#icono2 {
    background-color: rgb(180, 98, 180);
}

#icono3 {
    background-color: rgb(165, 61, 165);
}