#navbar {
    background-color: rgb(167, 103, 167) !important;
}

#presentacion {
    min-height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;
    
    background-image: url('fondo2.jpeg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:auto;
}

#icono {
    background-color: rgb(190, 130, 190);
}

#icono2 {
    background-color: rgb(180, 98, 180);
}

#icono3 {
    background-color: rgb(165, 61, 165);
}

#habilidad {
    min-height: 20vh;
}

#proyectos{
    min-height: 20vh;
}

#proyecto-1 {
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}
#contacto{
    background-color: rgb(167, 103, 167)!important; 
}
#boton{
    background-color: rgb(167, 103, 167)!important;
}
